.sticky{
  border-width: 2px;
  border-style: groove;
  width: 20%;
  border-radius: 10px;
  padding: 10px;
  background-color: #6ec5b1;
}
button{
  margin: 5px;
  cursor: pointer;
}
.button-primary{
  background-color: blue;
  border-color: darkblue;
}
.button-success{
  background-color: green;
  border-color: darkgreen;
}
.button-danger{
  background-color: red;
  border-color: darkred;
}
button[class*='button-']{
  padding: 10px;
  color: #fff;
}
